body {
    background: #F2F0F6;
}

h1 {
    text-align:center;
    background-color: #7DCEDE;
    border-radius: 25px;
    border-color: black;
    padding: 15px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}

#two {
    font-size: 25px;
}

nav ul{
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    border-radius: 10px;
    list-style-type: none;
    padding: 2em;
    margin: 2em;
}

nav ul li{
    padding: 0em 2em;
    width: 50%;
}
nav ul li a:hover {
    background-color: #7DCEDE;
    padding: 1em;
  }

nav {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}

img {
    border: 5px solid #0C479D;
    margin: 1em;
    border-radius: 10px;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
    background-color: lightgrey;
    color:black;
    padding: 10px;
    margin: auto;
    border-color: 10px black;
    border-radius: 10px;
    
}